.my-button {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: 2px solid $c-secondary-light;
  border-radius: 5px;
  background-color: $c-secondary-dark;
  color: $c-secondary-light;
  cursor: pointer;
  //width: 100%;

  &:hover {
    background-color: $c-secondary-dark-accent;
  }

  &:active {
    background-color: $c-secondary-base;
  }

  &:disabled {
    background-color: $c-secondary-light-accent;
    cursor: not-allowed;
  }
}
