.my-table {
  width: 100%;
  height: 100%;
  background-color: $c-secondary-base;
  color: $c-secondary-light;
  border-radius: 5px;

  &__wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 1px solid $c-secondary-light;
    border-radius: 5px;
  }

  &__header {
    display: grid;
    grid-template-columns: repeat(3, 50px) 1fr;
    gap: 1rem;
    padding: 1rem;
    background-color: $c-secondary-dark;
    border-bottom: 1px solid $c-secondary-light;
    font-weight: bold;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1fr;
    gap: 1rem;
    padding: 1rem;
    //padding-right: 0;
    background-color: $c-secondary-base;
    border-bottom: 1px solid $c-secondary-light;
    cursor: pointer;

    &:nth-child(even) {
      background-color: $c-secondary-dark;
    }

    &:hover,
    &:focus {
      background-color: $c-secondary-dark-accent;
      outline: none;
    }

    &-wrapper {
      overflow-y: auto;
      height: 100%;
      padding-bottom: 51px;
    }
  }

  &__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-wrapper {
      position: relative;
      height: calc(100% - 51px);
      width: 100%;
    }
  }
}
