.my-table {
  display: grid;
  grid-template-rows: min-content 1fr;
  width: 100%;
  height: 100%;
  background-color: $c-secondary-base;
  color: $c-secondary-light;
  border-radius: 5px;
  overflow: hidden;
  outline: 1px solid $c-secondary-light;

  &__layout {
    display: grid;
    grid-template-columns: repeat(3, 50px) 1fr;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid $c-secondary-light;

    &-header {
      font-weight: bold;
      background-color: $c-secondary-dark;
    }

    &-body {
      cursor: pointer;
      background-color: $c-secondary-base;

      &:nth-child(even) {
        background-color: $c-secondary-dark;
      }

      &:hover,
      &:focus {
        background-color: $c-secondary-dark-accent;
        outline: none;
      }
    }
  }

  &__body {
    overflow-y: auto;
    height: 100%;
  }

  &__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-wrapper {
      position: relative;
      height: calc(100% - 51px);
      width: 100%;
    }
  }
}
